<ol class="article-list">
    {% for post in include.posts %}
    <li class="article-list__item">
        <h3 class="article-list__heading">
            <a
                href="{{ post.url | prepend: site.baseurl }}"
                class="article-list__link"
                >{{ post.title }}</a
            >
        </h3>
        {% if post.custom_excerpt %}
        <p class="article-list__excerpt">{{ post.custom_excerpt | strip_html }}</p>
        {% else %}
        <p class="article-list__excerpt">{{ post.excerpt | strip_html }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ol>
