.about {
}

.about__title {
    font-size: $font-size-heading;
    font-family: $font-family-heading;
    font-weight: $font-weight-regular;
    line-height: $font-line-height-body;
    color: $color-text;
}

.about__text,
.about__content p {
    font-family: $font-family-body;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    line-height: $font-line-height-body;
    color: $color-text;
}

.about__text--lead,
.about__content p.lead {
    font-size: $font-size-subheading;
}

.about__text--small,
.about__content p.small {
    font-size: $font-size-caption;
}

.about__link,
.about__content a {
    color: $color-highlight;
    text-decoration-color: fade-out($color: $color-highlight, $amount: 0.854);

    &:hover {
        text-decoration: underline;
        text-decoration-color: $color-highlight;
    }
}

.about__muted {
    color: fade-out($color: $color-text, $amount: 0.618);
}

.about__footer {
    margin-top: $spacing-unit-big;

    .about__text {
        color: $color-detail;
    }
}
