.footer {
    flex-shrink: 0;
    margin-bottom: rem(57.887); // Extra margin for fixed navigation

    @media ($lg) {
        margin-bottom: 0;
    }
}

.footer__text {
    font-family: $font-family-body;
    font-size: $font-size-caption;
    font-weight: $font-weight-regular;
    color: $color-detail;
    line-height: $font-line-height-body;
    margin: $spacing-unit-tiny 0;
    text-align: center;
}

.footer__link {
    color: $color-highlight;
    text-decoration-color: fade-out($color: $color-highlight, $amount: 0.854);

    &:hover {
        text-decoration: underline;
        text-decoration-color: $color-highlight;
    }
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: $font-family-body;
    font-size: $font-size-caption;
    line-height: $font-line-height-body;
    font-weight: $font-weight-regular;
}

.footer__item {
    margin: 0 $spacing-unit-tiny;
}
